{% extends 'szablon.html' %}
{% block tytul %}Głosuj{% endblock tytul %}

{% block naglowek %}Głosuj{% endblock naglowek %}
{% block tresc %}
    <h3>{{ pytanie }}</h3>

    <form action="{% url 'ankiety:pytanie-glosuj' pytanie.id %}" method="post">
    {% csrf_token %}

    <ul class="list-unstyled">
    {% for o in pytanie.odpowiedz_set.all %}
        <li class="mb-1">
            <input type="radio" name="odpowiedz" id="o{{ forloop.counter }}" value="{{ o.id }}">
            <label for="o{{ forloop.counter }}">{{ o.tekst_odpowiedzi }}</label>
        </li>
    {% endfor %}
    </ul>

        <button type="submit" class="btn btn-secondary">Głosuj</button>
    </form>

{% endblock tresc %}
